@using OnlineBank.Data.Classes
@model WalletViewModel



@{
    ViewData["Title"] = "Wallet";

}

<h2>Wallet</h2>

<p>Balance overview for @Model.User.FullName</p>

@if (Model.Cards.Any())
{
    <table>
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Expiration</th>
                <th>Blocked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model.Cards)
            {
                <tr>
                    <td>@card.CardNumber</td>
                    <td>@card.CardType</td>
                    <td>@card.Balance</td>
                    <td>@card.ExpirationDate.ToShortDateString()</td>
                    <td>@(card.IsBlocked ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No cards available</p>
}
